<html>
	<head>	
		<title>MATRIX</title>
		<meta charset="UTF-8">
		<meta property="og:site_name" content="MATRIX">
		<meta property="og:title" content="MATRIX-BITS PILANI">
		<meta property="og:description" content="The Literature and Cinema Review Society of BITS Pilani,Pilani Campus">
		<meta name="description" content="The Literature and Cinema Review Society of BITS Pilani,Pilani Campus">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="qwerty.css">
	</head>
	<body>
<div id="overlay">
<div class="spinner"></div> 
</div>

{% if movies %}
    {% for movie in movies %}
<div id="movie-card-list">
<div class='card'>
  <div class='card_left'>
    <img src='thor.jpg'>
  </div>
  <div class='card_right'>
    <h1 class="movie-title">{{movie.name}}</h1>
							<br>
							<h4 class="movie-info">{{movie.release}}</h4>
							<br>
							<h4 class="movie-genre"><b>GENRE:
								{% for genre in movie.genre_set.all %}</b> 
									{{genre}}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %} 
							</h4>
							<br>
							<h4 class="movie-director"><b>DIRECTOR:
								{% for director in movie.director_set.all %}</b> 
								{{director}}
                            {% endfor %}
							</h4>
							<br>
							<p class="movie-cast"><b>CAST:
							{% for actor in movie.actor_set.all %}	</b>
								{{actor}}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
							</p>
   </div>
 </div>

   </div>
   {% endfor %}
   <div id="sidebar-wrapper" class="sidebar-toggle">
			<ul class="sidebar-nav">
		    	<a href="?page=1"><li>
		      		First
		    	</li></a>
		    	{% if movies.has_previous %}<a href="?page={{movies.previous_page_number}}"><li>
		      		Previous
		    	</li></a>{% endif %}
		    	    {% for page in page_range  %}
                {% if movies.number == page %}
                    <a href="?page={{page}}"><li>{{page}}</li></a>
                {% else %}
                   <a href="?page={{page}}"><li>{{page}}</li></a>
                {% endif %}

            {% endfor %}
            <a><li>...</li></a>
            <a href="?page={{movies.paginator.num_pages}}"<li>{{movies.paginator.num_pages}}</li></a>

				{% if movies.has_next %}<a href="?page={{movies.next_page_number}}"><li>
		      		Next
		    	</li></a>{% endif %}
				<a href="?page={{movies.paginator.num_pages}}"><li>
		      		Last
		    	</li></a>
		  	</ul>
		</div>
<div id="bottom" class="text-center">
<nav aria-label="Page navigation example">
  <ul class="pagination ">
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
	{% if movies.has_previous %}<li class="page-item"><a class="page-link" href="?page={{movies.previous_page_number}}">Previous</a></li>{% endif %}
    {% for page in page_range  %}
                {% if movies.number == page %}
                    <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>

                {% else %}
                   <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                {% endif %}

            {% endfor %}
            <li class="page-item"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="?page={{movies.paginator.num_pages}}">{{movies.paginator.num_pages}}</a></li>

	{% if movies.has_next %}<li class="page-item"><a class="page-link" href="?page={{movies.next_page_number}}">Next</a></li>{% endif %}
    <li class="page-item"><a class="page-link" href="?page={{movies.paginator.num_pages}}">Last</a></li>
  </ul>
</nav>
</div>
{% else %}
  <h3>You  don't have any movies</h3>
{% endif %}
<script>
$(window).resize(function() {
	var path = $(window);
	var contW = path.width();
	if(contW >= 625){
		document.getElementsByClassName("sidebar-toggle")[0].style.right="1.5vw";
		$('#bottom').css('display','none');
	}else{
		document.getElementsByClassName("sidebar-toggle")[0].style.right="-200px";
		$('#bottom').css('display','block');
	}
});

var overlay = document.getElementById("overlay");
var wrapper = document.getElementById("sidebar-wrapper");
var movie = document.getElementById("movie-card-list");
var bottom = document.getElementById("bottom");
window.addEventListener('load', function(){
  overlay.style.display = 'none';
  wrapper.style.display = 'block';
  movie.style.display = 'block';
  bottom.style.display = 'block';
  var path = $(window);
	var contW = path.width();
	if(contW >= 625){
		document.getElementsByClassName("sidebar-toggle")[0].style.right="1vw";
		$('#bottom').css('display','none');
	}else{
		document.getElementsByClassName("sidebar-toggle")[0].style.right="-200px";
		$('#bottom').css('display','block');
	}
})

</script>
	</body>
</html>